#canvas a{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

#canvas .on-edition-menu{
    background-color: black!important;
    position: relative!important;
    z-index: 1!important;
}

.icon-selected{
    background-color: rgba(125,125,125,.2);
    padding: 5px;
    font-size: 35px!important;
}

.icon-hover{
    cursor: pointer
}

#mainNav.navbar-shrink {
    background-color: black;
}

#mainNav {
    transition: background .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s;
}

.active {
    font-weight: bold;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

@media (max-width: 992px) {
    #mainNav {
        background-color: #000;
    }
}

.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0 !important;
}
.content-section-heading .text-secondary {
    color: #ecb807!important;
}

/* COLOR PICKER */
.block-picker{
    width: 100%!important;
}
.block-picker > div:first-child{
    left:10%!important;
}

/* CONTACT */
.contact-clean {
    background: #f1f7fc;
    padding: 80px 0;
}
.contact-clean form {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.contact-clean h2 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 36px;
    color: inherit;
}
.contact-clean .form-group:last-child {
    margin-bottom: 5px;
}
.contact-clean form .form-control {
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    outline: 0;
    color: inherit;
    padding-left: 12px;
    height: 42px;
}
.contact-clean form .form-control:focus {
    border: 1px solid #b2b2b2;
}
.contact-clean form textarea.form-control {
    min-height: 100px;
    max-height: 260px;
    padding-top: 10px;
    resize: vertical;
}
.contact-clean form .btn {
    padding: 16px 32px;
    border: none;
    background: 0 0;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: 0 !important;
}
.contact-clean form .btn:hover {
    opacity: 1;
}
.contact-clean form .btn:active {
    transform: translateY(1px);
}
.contact-clean form .btn-primary {
    background-color: #055ada !important;
    margin-top: 15px;
    color: #fff;
}

@media (max-width: 767px) {
    .contact-clean,
    .contact-noform {
        padding: 20px 0;
    }
    .contact-clean form {
        padding: 30px;
    }
}