html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  font-family: Source Sans Pro!important;
}

.pulse-icon {
  animation:fa-beat 2s linear infinite;
}
@keyframes fa-beat {
  0% {
    transform:scale(1) rotate(0);
  }
  50% {
    transform:scale(1.1) rotate(-10deg);
  }
  100% {
    transform:scale(1) rotate(0);
  }
}

/* DRAGGABLE MENU */
.toolbar{
  -webkit-app-region: drag;
  z-index: 99999;
}

.toolbar .no-drag{
  -webkit-app-region: no-drag;
}


#minimize{
  -webkit-app-region: no-drag;
}
#maximize{
  -webkit-app-region: no-drag;
}
#close{
  -webkit-app-region: no-drag;
}

.editButton{
  position: absolute;
  top: 0;
  left: 0;
  /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  text-align: center;
  z-index: 2;
}

.content{
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;    height: 100%;
  width: 100%;
}

.scroll{
  overflow: hidden scroll
}

::-webkit-scrollbar {
  width: 16px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  background-color: #753f3f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background: #721c24;
  border-radius: 8px;
  min-height: 40px;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  /*background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
}

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LOADER */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*SCROLLDOWN*/

.scrollDown {
  position: relative;
  width: 24px;
  height: 100px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before, .chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* EDITOR */
.select{
  box-shadow: 0 0 0 3px #88ceff;
  transition: .5s ease;
  opacity: 0.95;
  background-color: #88ceff33;
}

.mainselect{
  background-color: transparent;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.imageContent{
  position: relative;
}